*{  
    background-color: rgb(245, 227, 205);
    width: 940px;
    padding: 0;
    margin: auto;  
}
.header{
    display: inline-flex;
    width: 940px;
    height: 240px;
}
.foto{
    width: 120px;
    border-radius: 15px;
}

.lm{
    margin-left: 60px;
}

.main{

    height: 640px;
    margin-left: 50px;

}
h2{
  margin-left: 100px;
  padding-bottom: 25px;
    padding-top: 25px;
}
.list{
    font-size: 20px;
}
p{
    font-size: 20px;
}
.footer{
    width: 1240px;
    height: 140px;
}
.footer li{
    display: inline-block;
    margin-left: 780px ;
}